/* 
declaration block:

selector{
    property: value
    poperty 2: value
}
*/

body{
    background-color: blue;
    color: whitesmoke;
}

nav{}
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    ine-height:30px;
}

footer{}
     text-align: center;
     margin-right: 200px;
}

 #./gizmo.jpg{}
     margin-right: 200px;
     width: 400px;
}

h1{
    text-align: enter;
}